* {
    box-sizing: border-box;
  }
  @-ms-viewport{
    width: device-width;
  }
  html {
   font-size: 16px;
   /*border-style: solid;*/
   margin: 20px
  }
  
  .col {
    background-color: white;
    margin: 20px;
    padding: 5px;
  }
  
  body {
    background-color: #ADD4D9;
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    padding: 20px;
  }
  header {
    width: 75vw;
    margin: 25px auto;
  }
  main {
    width: 75vw;
    margin: 25px auto;
    display: flow-root;
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 15px;
    word-spacing: 5px;
    text-align: left;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #D982A2;
  }
  h2{
   font-size: 2rem;
   text-align: left;
   word-spacing: 5px;
   font-family: 'Playfair Display', serif;
   font-weight: 500;
   color: #A62152;
   margin-top: 50px;
  }
  ul {
    list-style-type: none;
    font-size: 22px;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 15px;
    font-size: 1.75rem;
    text-align: left;
  }
  a {
    text-decoration: none; /* this gets rid of the default underline */
  }
  a:link {
    color: #D96C9F;
  }
  a:visited {
    color: #D96C9F;
  }
  a:hover {
    color: #F2C2CF;
  }
  a:active {
    color: #D96C9F;
  }
  @media screen and (max-width: 961px) {
    /*.col {
      width: 100%;
      margin-bottom: 50px;
    }*/
    header {
      width: 90vw;
    }
    main {
      width: 90vw;
    }
    h1 {