

body {
  background-color: #cee8e4;
  margin: auto;
  padding: 100px 100px 100px 100px;
  line-height: 1.75;
}


h1 {
  font-size: 24px;
  padding:0;
  margin: 0;
  color: #bd5540;
  }
  
  h2 {
  font-size: 18px;
  color: #376a51;
  }
  
h3 {
  font-size: 14px;
  margin-top: 0;
  color: #376a51;
}

  h4 {
  font-size: 12px;
  margin-top: 0;
  color: #6d3b31;
  }