

body {
  background-color: #cee8e4;
  margin: auto;
  padding: 200px 200px 200px 200px;
  
}


h1 {
  color: #bd5540;
  }
  
  h2 {
  color: #376a51;
  }
  
h3 {
  margin-top: 0;
  color: #376a51;
}

  h4 {
  margin-top: 0;
  color: #6d3b31;
  }

  ul {
    margin-top: 0;
    color: #31356d;
  }

  a {
    text-decoration: none;
    color: #6d3b31;
  }