
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(210 30% 24%);
  }
  
h1 {
    font-size: clamp(3rem, 15vmin, 8rem);
    font-family: sans-serif;
    color: hsl(0 0% 98%);
  }
  
.underlined {
  /*   background: red; */
    position: relative;
  }

  .underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(130 80% 50%);
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
  }